{
  "openapi": "3.1.0",
  "info": {
    "title": "NinjaChat API",
    "version": "1.0.0",
    "description": "AI chat, web search, and image generation API. All models are uncensored with no content filters."
  },
  "servers": [
    {
      "url": "https://ninjachat.ai"
    }
  ],
  "security": [
    {
      "bearerAuth": []
    }
  ],
  "components": {
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "scheme": "bearer",
        "description": "API key starting with nj_sk_"
      }
    },
    "schemas": {
      "ChatMessage": {
        "type": "object",
        "required": ["role", "content"],
        "properties": {
          "role": {
            "type": "string",
            "enum": ["system", "user", "assistant"],
            "description": "The role of the message author."
          },
          "content": {
            "type": "string",
            "minLength": 1,
            "maxLength": 100000,
            "description": "The message text."
          }
        }
      },
      "Cost": {
        "type": "object",
        "properties": {
          "this_request": {
            "type": "string",
            "example": "$0.006",
            "description": "Cost of this request."
          }
        }
      },
      "ErrorResponse": {
        "type": "object",
        "properties": {
          "error": {
            "type": "string",
            "description": "Machine-readable error code."
          },
          "message": {
            "type": "string",
            "description": "Human-readable error description."
          },
          "details": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "field": { "type": "string" },
                "message": { "type": "string" }
              }
            },
            "description": "Field-level validation errors (only for validation_error)."
          }
        }
      }
    }
  },
  "paths": {
    "/api/v1/chat": {
      "post": {
        "operationId": "createChatCompletion",
        "summary": "Chat Completions",
        "description": "Generate AI text completions. Supports both standard and streaming responses. Cost: $0.006 per request.",
        "tags": ["Endpoints"],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": ["messages"],
                "properties": {
                  "model": {
                    "type": "string",
                    "default": "ninja-1",
                    "enum": ["ninja-1"],
                    "description": "Model to use."
                  },
                  "messages": {
                    "type": "array",
                    "minItems": 1,
                    "maxItems": 50,
                    "items": {
                      "$ref": "#/components/schemas/ChatMessage"
                    },
                    "description": "Conversation history (1–50 messages)."
                  },
                  "temperature": {
                    "type": "number",
                    "minimum": 0,
                    "maximum": 2,
                    "default": 0.7,
                    "description": "Sampling temperature. Lower = more precise, higher = more creative."
                  },
                  "max_tokens": {
                    "type": "integer",
                    "minimum": 1,
                    "maximum": 4096,
                    "default": 2048,
                    "description": "Maximum output tokens."
                  },
                  "stream": {
                    "type": "boolean",
                    "default": false,
                    "description": "Enable server-sent events streaming."
                  }
                }
              },
              "example": {
                "model": "ninja-1",
                "messages": [
                  { "role": "system", "content": "You are a helpful assistant." },
                  { "role": "user", "content": "Hello, what can you do?" }
                ],
                "temperature": 0.7,
                "max_tokens": 2048
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful completion.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "model": { "type": "string", "example": "ninja-1" },
                    "message": {
                      "type": "object",
                      "properties": {
                        "role": { "type": "string", "example": "assistant" },
                        "content": { "type": "string", "example": "I can help with a wide range of topics..." }
                      }
                    },
                    "usage": {
                      "type": "object",
                      "properties": {
                        "prompt_tokens": { "type": "integer", "example": 42 },
                        "completion_tokens": { "type": "integer", "example": 128 },
                        "total_tokens": { "type": "integer", "example": 170 }
                      }
                    },
                    "cost": { "$ref": "#/components/schemas/Cost" },
                    "metadata": {
                      "type": "object",
                      "properties": {
                        "latency_ms": { "type": "integer", "example": 1234 }
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Invalid request.",
            "content": { "application/json": { "schema": { "$ref": "#/components/schemas/ErrorResponse" } } }
          },
          "401": {
            "description": "Authentication failed.",
            "content": { "application/json": { "schema": { "$ref": "#/components/schemas/ErrorResponse" } } }
          },
          "402": {
            "description": "Insufficient credits.",
            "content": { "application/json": { "schema": { "$ref": "#/components/schemas/ErrorResponse" } } }
          },
          "403": {
            "description": "No active API subscription.",
            "content": { "application/json": { "schema": { "$ref": "#/components/schemas/ErrorResponse" } } }
          },
          "429": {
            "description": "Rate limit exceeded.",
            "content": { "application/json": { "schema": { "$ref": "#/components/schemas/ErrorResponse" } } }
          }
        }
      }
    },
    "/api/v1/search": {
      "post": {
        "operationId": "searchWeb",
        "summary": "Web Search",
        "description": "Search the web, academic papers, or news with an optional AI-generated answer that synthesizes the results. Cost: $0.05 per query.",
        "tags": ["Endpoints"],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": ["query"],
                "properties": {
                  "query": {
                    "type": "string",
                    "minLength": 1,
                    "maxLength": 2000,
                    "description": "Search query."
                  },
                  "group": {
                    "type": "string",
                    "enum": ["web", "academic", "news"],
                    "default": "web",
                    "description": "Search source."
                  },
                  "max_results": {
                    "type": "integer",
                    "minimum": 1,
                    "maximum": 20,
                    "default": 10,
                    "description": "Number of results to return."
                  },
                  "search_depth": {
                    "type": "string",
                    "enum": ["basic", "advanced"],
                    "default": "basic",
                    "description": "basic for fast results, advanced for deeper search."
                  },
                  "topic": {
                    "type": "string",
                    "enum": ["general", "news", "finance"],
                    "default": "general",
                    "description": "Topic filter."
                  },
                  "include_answer": {
                    "type": "boolean",
                    "default": true,
                    "description": "Generate an AI-synthesized answer from the results."
                  },
                  "include_images": {
                    "type": "boolean",
                    "default": false,
                    "description": "Include image results."
                  }
                }
              },
              "example": {
                "query": "latest developments in AI safety",
                "group": "web",
                "max_results": 10,
                "search_depth": "basic",
                "include_answer": true,
                "include_images": false
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Search results.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "query": { "type": "string" },
                    "answer": { "type": "string", "description": "AI-synthesized answer (if include_answer is true)." },
                    "sources": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "url": { "type": "string" },
                          "title": { "type": "string" },
                          "content": { "type": "string" },
                          "published_date": { "type": "string" }
                        }
                      }
                    },
                    "images": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "url": { "type": "string" },
                          "description": { "type": "string" }
                        }
                      }
                    },
                    "follow_up_questions": {
                      "type": "array",
                      "items": { "type": "string" }
                    },
                    "cost": { "$ref": "#/components/schemas/Cost" },
                    "metadata": {
                      "type": "object",
                      "properties": {
                        "group": { "type": "string" },
                        "search_depth": { "type": "string" },
                        "results_count": { "type": "integer" },
                        "latency_ms": { "type": "integer" }
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Invalid request.",
            "content": { "application/json": { "schema": { "$ref": "#/components/schemas/ErrorResponse" } } }
          },
          "401": {
            "description": "Authentication failed.",
            "content": { "application/json": { "schema": { "$ref": "#/components/schemas/ErrorResponse" } } }
          },
          "402": {
            "description": "Insufficient credits.",
            "content": { "application/json": { "schema": { "$ref": "#/components/schemas/ErrorResponse" } } }
          },
          "429": {
            "description": "Rate limit exceeded.",
            "content": { "application/json": { "schema": { "$ref": "#/components/schemas/ErrorResponse" } } }
          }
        }
      }
    },
    "/api/v1/images": {
      "post": {
        "operationId": "generateImages",
        "summary": "Image Generation",
        "description": "Generate images from text prompts. Supports text-to-image and image-to-image editing with a reference URL. Cost: $0.08 per image.",
        "tags": ["Endpoints"],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": ["prompt"],
                "properties": {
                  "prompt": {
                    "type": "string",
                    "minLength": 1,
                    "maxLength": 4000,
                    "description": "Image description."
                  },
                  "model": {
                    "type": "string",
                    "default": "ninja-vision-1",
                    "enum": ["ninja-vision-1"],
                    "description": "Model to use."
                  },
                  "size": {
                    "type": "string",
                    "enum": ["1920x1920", "1920x1080", "1080x1920"],
                    "default": "1920x1920",
                    "description": "Output size: square, landscape, or portrait."
                  },
                  "n": {
                    "type": "integer",
                    "minimum": 1,
                    "maximum": 4,
                    "default": 1,
                    "description": "Number of images to generate."
                  },
                  "image": {
                    "type": "string",
                    "format": "uri",
                    "description": "Reference image URL for image-to-image editing. Must be a publicly accessible HTTPS URL."
                  }
                }
              },
              "example": {
                "model": "ninja-vision-1",
                "prompt": "A cyberpunk cityscape at night with neon signs and rain, photorealistic, 8k detail",
                "size": "1920x1080",
                "n": 1
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Generated images.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "model": { "type": "string", "example": "ninja-vision-1" },
                    "images": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "url": { "type": "string" },
                          "revised_prompt": { "type": "string" }
                        }
                      }
                    },
                    "usage": {
                      "type": "object",
                      "properties": {
                        "images_generated": { "type": "integer" }
                      }
                    },
                    "cost": {
                      "type": "object",
                      "properties": {
                        "this_request": { "type": "string", "example": "$0.08" },
                        "per_image": { "type": "string", "example": "$0.08" },
                        "images": { "type": "integer", "example": 1 }
                      }
                    },
                    "metadata": {
                      "type": "object",
                      "properties": {
                        "latency_ms": { "type": "integer" },
                        "size": { "type": "string" }
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Invalid request.",
            "content": { "application/json": { "schema": { "$ref": "#/components/schemas/ErrorResponse" } } }
          },
          "401": {
            "description": "Authentication failed.",
            "content": { "application/json": { "schema": { "$ref": "#/components/schemas/ErrorResponse" } } }
          },
          "402": {
            "description": "Insufficient credits.",
            "content": { "application/json": { "schema": { "$ref": "#/components/schemas/ErrorResponse" } } }
          },
          "429": {
            "description": "Rate limit exceeded.",
            "content": { "application/json": { "schema": { "$ref": "#/components/schemas/ErrorResponse" } } }
          },
          "502": {
            "description": "Image generation failed upstream.",
            "content": { "application/json": { "schema": { "$ref": "#/components/schemas/ErrorResponse" } } }
          }
        }
      }
    },
    "/api/api-keys": {
      "get": {
        "operationId": "listApiKeys",
        "summary": "List API Keys",
        "description": "List all your API keys with usage stats and billing info.",
        "tags": ["Management"],
        "responses": {
          "200": {
            "description": "API key list with billing info.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "keys": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "id": { "type": "string" },
                          "name": { "type": "string" },
                          "keyPrefix": { "type": "string" },
                          "createdAt": { "type": "string", "format": "date-time" },
                          "lastUsedAt": { "type": "string", "format": "date-time", "nullable": true },
                          "revokedAt": { "type": "string", "format": "date-time", "nullable": true },
                          "usageCount": { "type": "integer" }
                        }
                      }
                    },
                    "stats": {
                      "type": "object",
                      "properties": {
                        "activeKeys": { "type": "integer" },
                        "totalUsage": { "type": "integer" }
                      }
                    },
                    "billing": {
                      "type": "object",
                      "properties": {
                        "isSubscribed": { "type": "boolean" },
                        "balanceCents": { "type": "integer", "description": "Remaining balance in cents." },
                        "balanceFormatted": { "type": "string", "example": "$42.50" },
                        "rateLimit": {
                          "type": "object",
                          "properties": {
                            "requests": { "type": "integer", "example": 60 },
                            "windowSeconds": { "type": "integer", "example": 60 }
                          }
                        },
                        "usage": {
                          "type": "object",
                          "properties": {
                            "chat": {
                              "type": "object",
                              "properties": {
                                "count": { "type": "integer" },
                                "costCents": { "type": "number" }
                              }
                            },
                            "search": {
                              "type": "object",
                              "properties": {
                                "count": { "type": "integer" },
                                "costCents": { "type": "number" }
                              }
                            },
                            "images": {
                              "type": "object",
                              "properties": {
                                "count": { "type": "integer" },
                                "costCents": { "type": "number" }
                              }
                            },
                            "totalSpentCents": { "type": "number" }
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Authentication failed.",
            "content": { "application/json": { "schema": { "$ref": "#/components/schemas/ErrorResponse" } } }
          }
        }
      },
      "post": {
        "operationId": "createApiKey",
        "summary": "Create API Key",
        "description": "Create a new API key. You can have up to 5 active keys per account.",
        "tags": ["Management"],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": ["name"],
                "properties": {
                  "name": {
                    "type": "string",
                    "minLength": 1,
                    "maxLength": 64,
                    "description": "Key name. Alphanumeric characters, spaces, hyphens, and underscores."
                  }
                }
              },
              "example": {
                "name": "My Production Key"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "API key created. The full key is only returned once.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "key": { "type": "string", "description": "Full API key. Shown only once." },
                    "id": { "type": "string" },
                    "prefix": { "type": "string" },
                    "name": { "type": "string" },
                    "message": { "type": "string" }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Authentication failed.",
            "content": { "application/json": { "schema": { "$ref": "#/components/schemas/ErrorResponse" } } }
          }
        }
      },
      "delete": {
        "operationId": "revokeApiKey",
        "summary": "Revoke API Key",
        "description": "Revoke an API key. Revoked keys stop working immediately but remain visible in your key list.",
        "tags": ["Management"],
        "parameters": [
          {
            "name": "id",
            "in": "query",
            "required": true,
            "schema": { "type": "string" },
            "description": "The ID of the API key to revoke."
          }
        ],
        "responses": {
          "200": {
            "description": "Key revoked.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": { "type": "boolean" },
                    "message": { "type": "string" }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Authentication failed.",
            "content": { "application/json": { "schema": { "$ref": "#/components/schemas/ErrorResponse" } } }
          }
        }
      }
    }
  }
}
